nav {
  height: 70px;
  width: 100%;
  background-color: rgb(77, 54, 38);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;


}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 2rem
}

nav div img {
  height: 50px;
  width: 50px;
  margin-left: 30px;
}

nav ul li a {
  color: rgb(44, 41, 41);
  border: 14px;
  border-radius: 5px;
  transition-duration: 140ms;

}

.navbartext {
  color: white;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: white;
  color: #333;
}


.logo-atas {
  padding: 100px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px;
  position: relative;
  margin-top: -400px;
}

.text-content {
  max-width: 500px;
}

.text-content h1 {
  font-size: 70px;
}

.text-content h1 span {
  color: #fbbf24;
}

.text-content p {
  font-size: 18px;
  margin: 10px 0 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: 0.3s;
}

.btn.primary {
  background: #fbbf24;
  color: white;
}

.btn.secondary {
  border: 2px solid #fbbf24;
  color: #fbbf24;
  background: white;
}

.image-deco {
  position: relative;
  width: 50%;
}

.image-deco img {
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.img1 {
  top: -20px;
  right: 80px;
}

.img2 {
  top: 100px;
  right: 0;
}

.img3 {
  top: 200px;
  right: 120px;
}

.hero2 {
  background-color: #FFEB95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
}

.text-content2 {
  max-width: 500px;
  margin: 100px;
  background-color: #fbbf24;
  padding: 20px 50px;
  border-radius: 30px;
}

.image-deco2 {
  position: relative;
  width: 50%;
  padding-top: 200px;
}

.image-deco2 img {
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero2 .image-deco2 img:nth-child(2) {
  top: 80px;
  right: 250px;
}

.hero3 {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;

}

.hero3 h1 {
  font-size: 40px;
}

.flex {
  display: flex;
  margin: auto;
}

.box {
  width: 250px;
  height: 380px;
  background-color: #fcfcfc;
  margin: auto;
  margin-top: 80px;
  border-radius: 10px;
  border: #aaaaaa 1px solid;
}

.fotocireng {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info-pembayaran {
  width: 900px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

.hero4 {
  background-color: #FFEB95;
  display: flex;
  justify-content: space-around;
  gap: -100px;
  align-items: center;
  position: relative;
  padding: 30px 100px 50px 200px;
  margin-top: 50px;
}

.mapwarp {
  margin-top: 85px;
  /* padding: 0 20px; */
  justify-content: end;
  margin-left: 40px;
  border: rgb(77, 54, 38) 5px dashed;
}

.text-content3 h1:nth-child(1) {
  font-size: 65px;
  width: 10px;
}

.text-content3 {
  padding-left: 10px;
  width: 300px;
}

#my-map-display img.text-marker {
  max-width: none !important;
  background: none !important;
  
}

.mapwarp img {
  max-width: none
}

.footer {
  background-color:rgb(77, 54, 38);
  margin: 0;
  text-align: center;
  padding: 40px;
}

.footer p {
  text-align: center;
  color: rgb(255, 255, 255);
}

.list-medsos {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
}

.bi-instagram,
.bi-whatsapp,
.bi-envelope,
.bi-facebook,
.bi-youtube {
    font-size: 15px;
    color: rgb(255, 255, 255);
}
